.tranding_tital {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-style: oblique;
    text-shadow: 2px 2px 5px red;
}

.container_tdr {
    /* width: 100%;
    height: 1250px;
    background-image: url("../../../img/background.jpg");
    background-position: center;
    background-size: cover; */
    background-color: #0C0C0C;
}

.service_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
    padding-right: 30px;

}

.manage_btn {
    width: 70%;
    height: 60px;
    border: none;
    margin: 30px;
    padding: 10px;
    font-size: x-large;
    font-style: oblique;
    border-radius: 10px;
    color: aliceblue;
    background-color: #fa0000;
}

.manage_btn:hover {
    color: #fc2828;
    border: 3px solid #fa0000;
    background: none;
}

@media only screen and (max-width: 600px) {
    .service_container {

        grid-template-columns: repeat(1, 1fr);


    }
}