.product_card {
    padding: 20px;
    text-align: center;
    margin: 10px;
    color: white;
    background-color: black;
}

.product_card img {
    height: 150px;
    width: 150px;
    border-radius: 2px;
}

/* .product_card:hover {
    background: black ,#0C0C0C;

} */

.button-1 {
    height: 40px;
    width: 130px;
    padding: 5px;
    background-color: #fa0000;
    color: white;
    border: none;
    border-radius: 8px;
}

.button-1:hover {
    color: gainsboro;
    background-color: #ff5959;
}